DATABASE_URL="postgresql://usuario:senha@db.id_do_supabase.supabase.co:5432/postgres"
NODE_ENV=development
PORT=3000
JWT_SECRET="sua_chave_secreta_muito_segura_com_pelo_menos_32_caracteres"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL="http://localhost:5173"
API_URL="http://localhost:3000/api"
GEMINI_API_KEY=SUA_API_KEY_DO_GEMINI
CLOUDINARY_URL=cloudinary://...